<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>
			<id>upupcat</id>
			<name>custom_group</name>
			<url>http://maven.upupcat.com/repository/maven-public/</url>
			<mirrorOf>external:http:*</mirrorOf>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>upupcat</id>
			<username>admin</username>
			<password>cg12345678</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<!-- 远程仓库设置为公司的maven私服 -->
				<repository>
					<id>upupcat</id>
					<url>http://maven.upupcat.com/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<!-- 禁用默认的远程仓库 -->
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>upupcat</id>
					<url>http://maven.upupcat.com/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>

				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>